@model NewsModel
<link rel="stylesheet" href="/pr/css/vendors/bootstrap.min.css">
<link rel="stylesheet" href="/pr/pr/fonts/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/pr/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/pr/css/vendors/magnific-popup.min.css">
<link rel="stylesheet" href="/pr/css/vendors/swiper-bundle.min.css">
<link rel="stylesheet" href="/pr/css/vendors/nice-select.css">
<link rel="stylesheet" href="/pr/css/vendors/aos.min.css">
<link rel="stylesheet" href="/pr/css/vendors/animate.min.css">
<link rel="stylesheet" href="/pr/css/style.css">
<link rel="stylesheet" href="/pr/css/responsive.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="blog-details-area pt-100 pb-120">
                        <div class="container">
                            <div class="row justify-content-center gx-xl-5">
                                <div class="col-lg-8">
                                    <div class="blog-description mb-40">
                                        <article class="item-single">
                                            <div class="image radius-md">

                                                <!-- <div class="lazy-container ratio ratio-2-3"> -->
                                                <div class="ratio ratio-2-3">
                                                    <input type="hidden" id="id" name="id" value="@Model.id">

                                                    <!-- Use Razor syntax to generate the image URL -->
                                                    <img class="lazyload" id="img" alt="Blog Image">

                                                </div>

                                            </div>

                                            <div class="content">
                                                <ul class="info-list">
                                                    <li>User</li>
                                                    <li></li>
                                                </ul>
                                                <div class="small" id="time" ></div>
                                                <h4 id="name"></h4>
                                                <p id="description"></p>

                                                <!-- Use Razor syntax to display the name property of the News model -->
                                                <!-- Display other properties of the News model here if needed -->
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        
                        <button type="button" class="btn btn-outline-danger btn-back" >
                            <i class="fas fa-arrow mr-1"></i> ย้อนกลับ
                        </button>
                      
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Jquery JS -->
<script src="/pr/js/vendors/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/pr/js/vendors/bootstrap.min.js"></script>
<!-- Counter JS -->
<script src="/pr/js/vendors/jquery.counterup.min.js"></script>
<!-- Nice Select JS -->
<script src="/pr/js/vendors/jquery.nice-select.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/pr/js/vendors/jquery.magnific-popup.min.js"></script>
<!-- Swiper Slider JS -->
<script src="/pr/js/vendors/swiper-bundle.min.js"></script>
<!-- Lazysizes -->
<script src="/pr/js/vendors/lazysizes.min.js"></script>
<!-- Twinmax JS -->
<script src="/pr/js/vendors/tweenMax.min.js"></script>
<!-- Tilt JS -->
<script src="/pr/js/vendors/tilt.jquery.min.js"></script>
<!-- AOS JS -->
<script src="/pr/js/vendors/aos.min.js"></script>
<!-- Main script JS -->
<script src="/pr/js/script.js"></script>
<script type="text/javascript">
    function fetchByID(id) {
        $.ajax({
            url: '/api/news/' + id,
            type: 'GET',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    var fileName = extractFileNameFromPath(data.img);
                    $('#name').text(data.name)
                    $('#description').text(data.description)
                    $('#img').attr('src', "/uploads/" + fileName);
                 
                  
                }
            },
            error: function (xhr, status, error) {
                console.error('Error: ', error);
            }
        });
    }
    function extractFileNameFromPath(filePath) {
        // Extracting the file name from the path
        return filePath.split('\\').pop().split('/').pop();
    }
    $(document).ready(function () {
        let id = $('#id').val();
        fetchByID(id)
        $('.btn-back').click(function () {
            window.location.href = "/";
        });

    });
</script>
