<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-outline-danger btn-add" data-toggle="modal"
                                data-target="#modal-01">
                            <i class="fas fa-plus mr-1"></i> เพิ่มข้อมูล
                        </button>
                        <div class="">
                            <span class="a-pointer font-size-12 btn-refresh" onclick="fetchData()">
                                <i class="fas fa-sync-alt pr-1"></i>รีเฟรชข้อมูล
                            </span>
                        </div>
                    </div>
                    <div id="print"></div>
                    <div class="table-responsive">
                        <table id="Table-1" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>ชื่อข่าวสาร</th>
                                    <th>เครื่องมือ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="modal-01" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-modal-header">
                <span class="text-dangers font-weight-bold font-size-18" id="#form-name"><i class="fas fa-list-ul"></i> </span>
            </div>
            <form id="frm-modal-1" name="frm-modal-1" data-frmStatus="" class="needs-validation" novalidate>

                <div class="spinner d-none" style="">
                    <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                        <div class="mt-2">กำลังโหลดข้อมูล...</div>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" value="">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="category_name" class="font-weight-bold text-facebook">
                                หัวข้อข่าวสาร
                                <small class="text-dangers font-size-15">*</small>
                                <small id="" class="text-dangers font-size-15"></small>
                            </label>
                            <input type="text" class="form-control" id="name"  value="" placeholder="" autocomplete="off" required="" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="desciption" class="font-weight-bold text-facebook">
                                รายละเอียดข่าวสาร
                                <small class="text-dangers font-size-15">*</small>
                                <small id="" class="text-dangers font-size-15"></small>
                            </label>
                            <textarea type="text" class="form-control" id="description"  value="" placeholder="" autocomplete="off" required=""></textarea>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="img" class="font-weight-bold text-facebook">
                                รูปภาพข่าวสาร
                                <small class="text-danger font-size-15">*</small>
                            </label>
                            <input class="form-control" type="file" id="img" accept="image/*">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger modal-btn btn-submit" id="modal-01-btn-submit">
                        บันทึก
                    </button>
                    <button type="button" class="btn btn-outline-light modal-btn" data-dismiss="modal">ปิด</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="~/js-external/index.js">

    </script>
